/* GLOBAL */

body {
    background: url("/static/img/open_book_crop.jpg") no-repeat center center fixed;
    -webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover; 
    background-size: cover; 
    padding-top: 70px;
}

html * {
    font-family: 'Raleway', sans-serif;
}

a {
    color: #004080;
}

h1 {
    font-weight: 800;
}

h2 {
    font-weight: 800;
}

h3 {
    font-weight: 800;
}

.navbar-inverse {
    background-color: #476b6b;
    border-color: #E7E7E7;
    color: white;
}

.navbar-inverse .navbar-nav > li > a {
    color: #ffffff;
}

#shield {
    height: 48px;
    width: 48px;
    text-align: inline;
    margin-bottom: 4px;
}

/*title page*/

#site-header {
    font-size: 76px;
}

#title-page {
    text-align: center;
    padding: 10px;
    vertical-align: middle;
    }

#header-box {
    background-color: rgba(255,255,255,0.5);
    padding: 15px;

}

/* RECOMMENDATION PAGES */

#today-rec {
    text-align: center;
    vertical-align: middle;
    background-color: rgba(255,255,255,0.5);
    font-size: 18px;
    padding-right: 15px;
    padding-right: 15px;
}

.row > h3 {
    text-align: center;
}

.vertical-center-row {
    margin: auto;
    vertical-align: middle;
}

.each-rec {
    background-color: rgba(255,255,255,0.5);    
    margin: 10px;
    position: 10px;
    vertical-align: middle;
    float:none;
    display: block;
}

.section-header {
    background-color: rgba(255,255,255,0.5);    
    margin: 30px 0px 10px 0px;
    font-weight: 800;
    text-align: center;
    vertical-align: middle;
    padding-right: 15px;
    padding-right: 15px;
    width:800px;
}

.each-rec-text{
    margin:10px;
}

.cover-image {
    display: block;
    padding:5px 0px 5px 0px;
    vertical-align: middle;
    margin: auto;
}

.cover-image:hover {
    opacity: .6;
    filter:alpha(opacity=10);
}

.title{
    color: black;
    font-size: 18px;
    font-weight: 500;
    text-decoration: underline; 
}

.title:hover {
    color: #0066cc;
  
}

.btn-feedback:hover {
    background-color: #999999;
}

.btn-feedback.already-read {
    color: #333;
    margin-top: 2px;
}

.btn-feedback.already-read:hover {
    background-color: rgba(255,255,255, 0);
    border-color: #0066cc;
    color: #0066cc;
}

/* REC DETAIL PAGE */

.detail-cover-image {
    display: block;
    padding:5px 0px 5px 0px;
    vertical-align: middle;
    margin-top: 20px; 
    margin-left:10px;
    margin-right: 10px;
}



