body {
    font-family: sans-serif;
}

h2 {
    font-family: sans-serif;
}

#title-page {
    text-align: center;
    background-image: url("/static/img/book_heart_small.jpg");
    vertical-align: middle;
    color: #ffe5cc;
    height:400px;
}

#today_rec {
    border: 2px solid black;
    height: 200px;
    text-align: center;
    vertical-align: middle;
}

.title{
    color: black;
    font-size: 16px;
    font-weight: bold;
}

#shield {
    height: 50px;
    width: 50px;
    text-align: inline;
}

.existing-feedback {
    background-color: red;
    font-weight: bolder;
    border: 
}



/*.navbar-header{
    height: px;
}*/