body {
    font-family: sans-serif;
}

h2 {
    font-family: sans-serif;
}

html {
    background: url("/static/img/book_stack.jpg") no-repeat center center fixed;
    background-size: cover;
  
}

/*#homepage-background {
    height: 1000px;
}*/

#title-page {
    text-align: center;
    vertical-align: middle;
    background-color; rgba(255, 0, 0, 0.3);

    }
/*
#title-image {
    margin; auto;
    position: absolute;
}
*/
#today_rec {
    border: 2px solid black;
    height: 200px;
    text-align: center;
    vertical-align: middle;
}

.title{
    color: black;
    font-size: 16px;
    font-weight: bold;
}

#shield {
    height: 50px;
    width: 50px;
    text-align: inline;
}

.existing-feedback {
    background-color: red;
    font-weight: bolder;
    border: 
}



/*.navbar-header{
    height: px;
}*/