{% extends 'base.html' %}
 {% block title %}
 NextBook
 {% endblock %}


{% block content %}
<div class="container-fluid">
    <div class="container" id="title-page">
            <h2>Welcome to NextBook!</h2>
            <br>
            <br>
            Nextbook reads your Goodreads book ratings and tells you what to read next!
            <br>
            <br>
            <a href="/sign-up">Sign up today!</a>
            <br>
            <br>
            Already a member? <a href="/login">Log in here.</a>

    </div>

</div>

{% endblock %}
