{% extends 'base.html' %}
{% block content %}



<div>
    <a href="/recommendations/{{rec.rec_id}}"><h4>{{rec.userbook.book.title}}</h4></a>
    <img src="{{rec.userbook.book.img_url}}"/> <br> <br>

    by {{rec.userbook.book.author}} 
    <br>
    Recommended on {{rec.date_provided.strftime("%B %d, %Y")}}
    <br>
    <br>
        <button class="btn-feedback read-now {{'existing-feedback' if rec.response =='read-now' else ''}}" data="{{rec.rec_id}}">I'll read this now!</button> 
            <button class="btn-feedback read-later {{'existing-feedback' if rec.response =='read-later' else ''}}" data="{{rec.rec_id}}">I'll read this later</button> 
            <button class="btn-feedback reject {{'existing-feedback' if rec.response =='reject' else ''}}" data="{{rec.rec_id}}">I won't read this.</button> 
            <br>
        Already read this one? <button href='{{rec.userbook.book.goodreads_url}}' class="btn-feedback already-read" data-rec="{{rec.rec_id}}">Rate this book on Goodreads!</button>

<!-- Preview: {{rec.userbook.book.preview}} -->
</div>

<script src="https://code.jquery.com/jquery.js"></script>

<script>


function colorizeButtons(results) {

    var buttonType = results['button'] ;
    var recID = results['rec_id'] ;

    $("."+buttonType+'[data='+recID+']').addClass('existing-feedback');

    $("."+buttonType+'[data='+recID+']').siblings().removeClass('existing-feedback') ;
}

function serverRelay(event) {
    
    var rec_id_js = $(this).attr('data'); 

    if ($(this).hasClass('read-now')) {
        var responseData = {'response':'read-now', 'rec_id':rec_id_js} ; 
    } else if ($(this).hasClass('read-later')) {
        var responseData = {'response':'read-later', 'rec_id':rec_id_js} ; 
    } else if ($(this).hasClass('reject')) {
        var responseData = {'response':'reject', 'rec_id':rec_id_js} ; 
    } else if ($(this).hasClass('already-read')) {
        var responseData = {'response':'already-read', 'rec_id':rec_id_js} ; 
    }  
    $.post("/recommendations/"+rec_id_js+"/user-feedback", responseData, colorizeButtons);
    
}


$(".btn-feedback").click(serverRelay);


</script>
{% endblock %}
