{% extends 'base.html' %}
{% block content %}

<div>
    Title: {{current_rec.userbook.book.title}} <br>
    Author: {{current_rec.userbook.book.author}} <br>

    <button class="btn-feedback btn-read-now" data-book="{{rec.userbook.book_id}}">I'll read this now!</button> 
    <button class="btn-feedback btn-read-later" data-book="{{rec.userbook.book_id}}">I'll read this later</button> 
    <button class="btn-feedback btn-reject" data-book="{{rec.userbook.book_id}}">Ew no.</button> 
    Already read this one? <button href='{{rec.userbook.book.goodreads_url}}' class="btn-feedback btn-already-read" data-book="{{rec.userbook.book_id}}">Rate this book on Goodreads!</button>

    Preview: {{currentrec.userbook.book.preview}}



</div>



<script>


function colorizeButton() {
    // when page loads OR when user clicks a button
    // colorize approprate button based on feedback
}


function serverRelay() {
    // send status to server
    if (this.class==="btn-read-now") {
        $.post("/rec-response", {'book_id': this.attr("data-book"), 'response':"read-now"}, colorizeButton);
    } else if (this.class==="btn-read-later") {
        $.post("/rec-response", {'book_id': this.attr("data-book"), 'response':"read-later" }, colorizeButton);
    } else if (this.class==="btn-reject") {
        $.post("/rec-response", {'book_id': this.attr("data-book"), 'response':"reject" }, colorizeButton);
    } else if (this.class==="btn-already-read"){
        $.post("/rec-response", {'book_id': this.attr("data-book"), 'response':"already-read" }, colorizeButton);
    }
}
    

$(".btn-feedback").click(function() {
    serverRelay();
});

// when feedback exists for recommendation, 
// colorize appropriate button


</script>

{% endblock %}
