{% extends 'base.html' %}
 {% block title %}
 NextBook
 {% endblock %}


{% block content %}
<div class="container-fluid">
    <div class="container" id="title-page">
            <h1 class="site-header">Welcome to NextBook!</h1>
            <br>
            <br>
            <h2>One book per day.</h2>
            <br>
            <a href="/sign-up">Sign up with your Goodreads account today!</a>
            <br>
            <br>
            Already a member? <a href="/login">Log in here.</a>

    </div>

</div>

{% endblock %}
