{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="each-rec col-xs-12 col-md-10 col-md-offset-1">
        <h3>Please login below to access your book recommendations.</h3>
        <form role="form" action="/login" method="POST">
            <label>Email: <input type="email" name="email"></label>
            <br>
            <label>Password: <input type="password" name="password"></label>
            <br>
      <input class="btn" type="submit" value="Log in">
{% endblock %}
