{% extends 'base.html' %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="vertical-center-row col-xs-12 col-md-8 col-md-offset-2" id="today-rec">
            {% if today_rec %}
                <h3>Today's Recommendation</h3>
                <a href="/recommendations/{{today_rec.rec_id}}"><p class='title'>{{today_rec.userbook.book.title}}</p></a>
                {{today_rec.userbook.book.author}} <br><br>
                <button class="btn btn-feedback read-now {{'btn-danger' if today_rec.response =='read-now' else ''}}" data="{{today_rec.rec_id}}">I'll read this now!</button> 
                <button class="btn btn-feedback read-later {{'btn-danger' if today_rec.response =='read-later' else ''}}" data="{{today_rec.rec_id}}">I'll read this later</button> 
                <button class="btn btn-feedback reject {{'btn-danger' if today_rec.response =='reject' else ''}}" data="{{today_rec.rec_id}}">I won't read this.</button> 
                <br> 
                <p><a href='{{today_rec.userbook.book.goodreads_url}}' class="btn btn-feedback already-read" data-rec="{{today_rec.rec_id}}">Already read this one? Rate this book on Goodreads!</a></p>


            {% elif recs_to_date %}

                <h3> Your account is currently paused. <br> 
                To unpause recommendations,  please visit your <a href='/account'>account page</a>.</h3>
            
            {% else %}

                <h3> Looks like we don't have any recommendations for you yet! Check back tomorrow.</h3>

            {% endif %}

        </div>
    </div>
    {% if recs_to_date %}
        <div class="row">
        <div class="section-header col-xs-12 col-md-8 col-md-offset-2">
        <h3>Previous Recommendations</h3>
        </div>

        {% for rec in recs_to_date %}
            <div class="each-rec col-xs-12 col-md-8 col-md-offset-2">
                <div class="row">
                    <div class="cover-image hidden-xs col-sm-2 col-md-2 col-md-offset-1" >
                        <a href="/recommendations/{{rec.rec_id}}"><img class="img-responsive cover-image" src="{{rec.userbook.book.img_url if rec.userbook.book.img_url != 'https://s.gr-assets.com/assets/nophoto/book/111x148-bcc042a9c91a29c1d680899eff700a03.png' else 'static/img/shield-rec-detail.png'}}"/></a>
                    </div>
                    <div class="each-rec-text col-xs-12 col-sm-9 col-md-8">
                        <a href="/recommendations/{{rec.rec_id}}"><p class='title'>{{rec.userbook.book.title}}</p></a>
                        by {{rec.userbook.book.author}} 
                        <br>
                        Recommended on {{rec.date_provided.strftime("%B %d, %Y")}}
                        <br>
                            <button class="btn btn-feedback read-now {{'btn-danger' if rec.response =='read-now' else ''}}" data="{{rec.rec_id}}">I'll read this now!</button> 
                            <button class="btn btn-feedback read-later {{'btn-danger' if rec.response =='read-later' else ''}}" data="{{rec.rec_id}}">I'll read this later</button> 
                            <button class="btn btn-feedback reject {{'btn-danger' if rec.response =='reject' else ''}}" data="{{rec.rec_id}}">I won't read this.</button> 
                            <br>
                        <a href='{{rec.userbook.book.goodreads_url}}' class="btn btn-feedback already-read" data-rec="{{rec.rec_id}}">Already read this one? Rate this book on Goodreads!</a>
                    </div>
                </div>
            </div>
            <br>
        {% endfor %}
        </div>
        <br>
    {% endif %}

</div>
<script src="https://code.jquery.com/jquery.js"></script>
<!-- <script src="/static/jquery-2.2.1.min.js"></script>
 -->
<script>


function colorizeButtons(results) {

    var buttonType = results['button'] ;
    var recID = results['rec_id'] ;

    $("."+buttonType+'[data='+recID+']').addClass('btn-danger');

    $("."+buttonType+'[data='+recID+']').siblings().removeClass('btn-danger') ;
}

function serverRelay(event) {
    
    var rec_id_js = $(this).attr('data'); 

    if ($(this).hasClass('read-now')) {
        var responseData = {'response':'read-now', 'rec_id':rec_id_js} ; 
    } else if ($(this).hasClass('read-later')) {
        var responseData = {'response':'read-later', 'rec_id':rec_id_js} ; 
    } else if ($(this).hasClass('reject')) {
        var responseData = {'response':'reject', 'rec_id':rec_id_js} ; 
    } else if ($(this).hasClass('already-read')) {
        var responseData = {'response':'already-read', 'rec_id':rec_id_js} ; 
    }  
    $.post("/recommendations/"+rec_id_js+"/user-feedback", responseData, colorizeButtons);
    
}


$(".btn-feedback").click(serverRelay);


// $.get("/get_signup_status", )


</script>


{% endblock %}