{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="each-rec col-xs-12 col-md-10 col-md-offset-1">
        <h3>Please enter your information below to begin receiving book recommendations.</h3>

        <form role="form" action="/sign-up" method="POST">
            <label>First Name: <input type="text" name="f_name" value="Emma"></label>
            <br>
            <label>Last Name: <input type="text" name="l_name" value="Ferguson"></label>
            <br>
            <label>GoodReads User Id: <input type="text" name="goodreads_uid" value="16767050"></label>
            <br>
            <br>
            <label>Email: <input type="email" name="email" value="emmaonthursday@gmail.com"></label>
            <br>
            <label>NextBook Password: <input type="password" name="password" value="nextbook"></label>
            <br>
            
         <!--    <label>How frequently would you like new book recommendations? 
                <br>Every<input type="number" name="rec_frequency" min="1" max="5" step="1"> days.</label> -->
            <br>
            <input class="btn" type="submit" value="Sign up">
            <br>
            <br>

        </form>
        </div>
    </div>
</div>

{% endblock %}